<h1>Exibindo Aluno</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @aluno.idade %>
</p>

<%= link_to 'Editar', edit_aluno_path(@aluno) %> |
<%= link_to 'Voltar', alunos_path %>
